/.metadata
/airportApp
/demoApp
/Dest_AdvancedJava
/Dest_CoreJava
/Hibernate
/Hibernet
/JavaFileHandling
/JavaJDBC
/Java_Servelet
/JDBC
/Jeevesh
/JSP
/MVCEmp
/MVCEmployee
/MVCExample
/PracticeProgramming
/Projects
/QuizApp
/QuizApplication
/Servers
/SpringProject